body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('/public/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .app {
    text-align: center;
    position: relative;
  }
  
  .app-header {
    font-family: 'Architects Daughter';
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #01A7F1,
      0 0 82px #01A7F1,
      0 0 92px #01A7F1,
      0 0 102px #01A7F1,
      0 0 151px #01A7F1;
    font-size:5rem;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    margin-top: -70px;
    -webkit-text-stroke: 2px black; /* Width and color of the stroke */
  }
  
  .main-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    margin: auto;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: black;

  }
  
  .input {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  .input::placeholder{
    color: #01A7F1;
    opacity: 1;
  }

  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .arrow-button {

    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    margin: 0 15px;
  }
  
  .room-code-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    color: white;
    background-color: #EE5690;
    border-radius: 40px;
  }

  .room-code-input::placeholder {
    color: white;
  }
  
  .play-button {
    width: 100%;
    padding: 10px;
    background-color: #09F081;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 40px;
  }
  
  .play-button:hover {
    background-color: #07c167;
  }
  
  .icon-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    color:#01A7F1;
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 8px;
    margin-left: 15px;
  }

  .back-rectangle{
      width: 4rem;
      height: 3em;
      background-color: yellow;
      margin-left: 10px;
      margin-bottom: 10px;
      justify-content: center;
      align-items: center;
      margin-right: -22px;
      border-radius: 30px 10px 10px 30px;
  }
  
  .icon :hover {
    color: black;
  }


  